.navbar {
    background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
    margin: -20px  0 0 0 ;
    height: 100px;
  }
  
  
  .navbar h2 {
      color: white;
      margin-left: 20px;
      padding-top: 20px;
  }