.navbar {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    margin: -20px  0 0 0 ;
    height: 100px;
  }
  
  
  .navbar h2 {
      color: white;
      margin-left: 30px;
      padding-top: 20px;
  }