.top-card {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.modal-container{
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  height: 700px;
  width: 900px;
  border-radius: 20px;
}
header h1,h5,p {
  color: white;
  text-align: center;
}
.modal-container img {
margin-left: 45%;
margin-top: 30px;
}
