.top-card {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.modal-container{
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  height: 700px;
  width: 900px;
  border-radius: 20px;
}
.modal-header h1,h5,p {
  color: white;
  text-align: center;
}
.modal-container header img {
  position: absolute;
top: 240px;
left: 27%;

}
.close {
	color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: relative;
  right: -820px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-size: 24px;
}
.buttons {
  color: rgb(233, 171, 171);
  margin-top: 50px;
}
.previous-button {
  margin: 20px;
  
}
.previous-button, .next-button {
  cursor: pointer;
}
.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  
}
.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-header img{
  margin-left: 20%;
  
}
.modal-name {
  margin-top: 20%;
}